.page {
  background-color: var(--first-blue-color);
}

.numbersHolder {
  border: 1px solid white;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.nbHolder {
  width: 25%;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 1.2em;
}
.nbHolder:last-child {
  border: none;
}
.nbRow {
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.nbs {
  color: white;
  font-size: 1.8em;
}

.icons {
  background-color: grey;
  height: 100%;
  width: 2.7em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons img {
  width: 65%;
  height: 80%;
}
.nbTitle {
  font-size: 1.2em;
  color: #fff;
  font-weight: light;
}

@media (max-width: 992px) {
  .numbersHolder {
    flex-wrap: wrap;
  }
  .nbHolder {
    width: 33%;
  }
  .numbersHolder .nbHolder:nth-child(3) {
    border: none;
  }
  .numbersHolder .nbHolder:not(:last-child) {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {

  .numbersHolder {
    padding: 10px;
  }
  .nbHolder {
    width: 100%;
    padding: 12px;
  }
  .numbersHolder .nbHolder,
  .numbersHolder .nbHolder:nth-child(3) {
    border: none;
    border-bottom: 1px solid white;
  }
  .numbersHolder .nbHolder:not(:last-child) {
    margin-top: 0;
  }
  .numbersHolder .nbHolder:last-child {
    border: none;
  }
}
