
.container {

    margin: auto;
    width: 96%;
    padding-bottom: 20px;

  }
  .product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
  }
  
.PagBtn{
    width: 4rem;
    height: 4rem;
}
.searchh{
  display: flex;
  justify-content: space-between;
  width: 94%;
  align-items: center;
  flex-wrap: wrap;
}
.nav{
  width: 100%;
}
.body{
  height: 100%;
  display: flex;align-items: center;
  flex-direction: column;
}
.category{
  margin-bottom: 2rem;
}
.empty{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
}
.title {
  font-size: 48px;
  color: #163357;
  margin: 15px 0 15px 10px;
}
@media (max-width: 992px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 35px;
  }
}