.css-icilas-MuiDataGrid-root .MuiDataGrid-withBorderColor {
    border-color: #163357 !important;
    background-color:  #163357 !important;
    color:white ;
}
.css-rtrcn9-MuiTablePagination-root {
    overflow: auto;
    color: white !important;
    font-size: 0.875rem;
}
.css-p4lcj1 {
    background-color: transparent !important;
}
.css-1cbo4wc{
    background-color: transparent !important;

}
.css-ojj1mg {
    height: 400px;
    width: 50%;
    background-color: transparent !important;
    margin: 10% auto 0;
    border: 50px solid white;}