.headerContainer{
  display: flex;
  justify-content: center;
  background-color:transparent;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}
.whatever {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 90%;
  height: 70px;
  z-index: 1000;
  background-color:transparent;

}
.button{
  background-color: rgb(158, 15, 15);
  width: 5.5rem;
  height: 2rem;
  border: none;
  border-radius: 10px;
  color: white !important;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 1.5rem;
}

.menu li:nth-child(5) {
  border-right: 1px solid white;
  padding-right: 0.75rem;
  margin-right: -0.75rem;
}
.menu a {
  position: relative;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
  /* Transition the color property for smooth effect */
}



.menu a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color:  rgb(207, 96, 96);
  /* Color of the underline */
  transition: width 0.3s ease;
}

.menu a:hover:after,
.menu a:focus:after {
  width: 100%;
  background-color:  rgb(207, 96, 96);
  /* Change underline color to red when hovered */
}

.mobile_btn {
  display: none;
}
.menu.active {
  left: 0;
}

.cartIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.menuItem.activeNavItem:after {
  width: 100%;
  background-color:  rgb(207, 96, 96);
  /* Change underline color to red when it's the active page */
}


.menu .shopIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(max-width: 992px) {
  .menu {
    gap: 1rem;
  }
  .menu a {
    font-size: 18px;
  }
  .menu li:nth-child(5) {
    border-right: 1px solid white;
    padding-right: 0.5rem;
    margin-right: -0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .mobile_btn {
    display: flex;
    color: white;
    cursor: pointer;
    right: 2.5rem;
    top: 50%;
    z-index: 10;
  }
  

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: -100%;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* White background with 0.8 opacity */
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    z-index: 10;
    transition: left 1s;
    overflow: hidden; /* Ensures the blur effect doesn't overflow */
}

.menu a {
  color:black;

}
.whatever {
  flex-direction: row-reverse;
  gap: 1rem;
}
/* Rest of your menu styles here */

  
  

  .active {
    left: 0;
  }

  .navbar Link {
    font-size: 2rem;
  }
  .menu li:nth-child(5) {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
  }
}

ul {
  list-style-type: none;
}

li {
  color: var(--main-text-color);
  text-decoration: none;
}