.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    cursor: pointer;
    transition: transform 0.3s ease;
    gap: 1rem;
    }
.titleproduct {
    font-size: 30px;
    height: 6vh;
    margin: 17px 0;
}

.container:hover {
    transform: scale(1.06);
}


/* Add a container to hold the product cards and make it scrollable horizontally */
.productlinewrapper {
    overflow-x: auto;
    overflow-y: hidden; /* Ensure only horizontal scrollbar is shown */
    white-space: nowrap;
    position: relative;
    padding-right: 15px; /* Adjust the padding as needed */
}

/* Add a scrollbar and indicate scrollability */
.productlinewrapper::-webkit-scrollbar {
    height: 10px;
}

.productlinewrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.productlinewrapper::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

.productlinecontainer {
    display: flex;
    gap: 3rem;
    margin: 25px 10px;
    justify-content: space-between;
    transition: transform 0.3s ease; /* Added transition for smooth scrolling effect */
}

