.overviewHolder {

  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 3rem 0;
  width: 90%;
  float: left;

}
@media (max-width: 992px) {
  .overviewHolder {
    float: none;
  }
}
