.profilePage {
  height: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 90px auto;
  padding: 0;
}

.navHolder {
  height: 10%;
}

.profileTitle {
  width: 40%;
  margin: 40px auto 0 auto;
  color: var(--first-blue-color);
}

.profileContainer {
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  gap: 25px;
}

.inputHolder {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: end;
  width: 90%;
  height: 4.2em;
  z-index: 0;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 100%;
  align-items: center;
  color: var(--first-blue-color);
  width: 100%;
}

.labelText {
  font-weight: 300;
  color: var(--second-blue-color);
}
.labelText,
.text,
.textField {
  height: 49%;
  font-size: 1.2em;
  width: 80%;
}

.text,
.textField {
  font-weight: 400;
}

.textField {
  background-color: transparent;
  color: var(--first-blue-color);
}
.fieldWidth {
  height: 100% !important;
}
.addressField {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: end;
  width: 90%;
  z-index: 1;
}

.addressField > .textField {
  height: 70%;
}
.textField:hover {
  border-bottom: 1px solid #666;
}
.textField {
  border: 1px solid var(--first-blue-color);
}
.editBtn,
.textField {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 8px;
  border-radius: 5px;
  z-index: 3;
}

.editBtn {
  width: 35%;
  background: var(--button-background-color-red);
  color: white;
  display: flex;
  justify-content: center;
  break-after: column;
  gap: 10px;
  transition: 0.2s;
  cursor: pointer;
}
.editBtn:hover {
  background: var(--button-background-hover-color);
}
.related__ItemP {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 40px 0;
}

.related__ItemP .backgroundP {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--button-background-color-red);
}

.editBtn:hover {
  background: var(--button-background-hover-color);
}

.btnHolder {
  justify-content: center;
}

.editPng {
  height: 1em;
  width: 1em;
}

@media (max-width: 767px) {
  .related__ItemP .backgroundP {
    width: 15px;
    height: 30px;
  }
  .related__ItemP .titleP {
    font-size: 24px;
  }
  .editBtn {
    width: 80%;
  }
}
