.profilePage{
    /* border:1px solid red; */
    height: 100vh;
background-image: url('../../assets/images/backgorundImage.png'); 
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}

.navHolder{
    height: 10%;
    /* border: 1px solid black; */
}
.profileTitle{
    width: 60%;
    margin: 40px auto 0 auto;
    color:#FFF;
}

.profileContainer {
    box-shadow: 0px 1px 7px 0px rgba(246, 244, 244, 0.1);
    height: 65%;
    width: 60%;
    margin: 10px auto;
    color: var(--first-blue-color);
    padding: 2%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
background-color: rgba(255, 255, 255, 0.5); /* Adjust the opacity as needed */

}

.inputHolder {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    /* padding-bottom: 15px; */
    width: 95%;
}

.textField {
  
}

.field {
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    gap: 10px;
    /* font-weight: 300; */
}
.labelText{
    font-weight: 300;
}
.textField {
    border: none;
    border-bottom: 1px solid var(--first-blue-color);
    outline: none;
    height: 50%;
background-color: transparent;
padding-bottom: 5px;
}

/* Add a hover effect if desired */
.textField:hover {
    border-bottom: 1px solid #666;
    /* Adjust the color as needed */
}

/* Add a transition effect for a smooth animation */
.textField {
    transition: border-bottom 0.3s ease;
}

.editBtn {
    border: 1px solid var(--first-blue-color);
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 8px;
    border-radius: 5px;
    color: var(--first-blue-color);
    cursor: pointer;
    z-index: 3;
}

.editPng {
    border: 1px oslid red;
    height: 1em;
    width: 1em;
}