.description{
    font-size: 25px;
}
.title{
    font-size: 30px;
}
.Aboutcontainer{
    display: flex;
    align-items: center;
    width: 100%;
}
a {
    color: black; 
    text-decoration: none; 
    transition: color 0.3s; 
  }

  a:hover {
    color: red; 
  }
@media (max-width:390px) {
    .Aboutcontainer{
        display: block;
        margin-bottom: 13px;
    }
    .title{
margin-bottom: 15px;    }
.description{
margin-bottom: 13px;}

}
@media (max-width:280px) {
    .Aboutcontainer{
        display: block;
        margin-bottom: 13px;
    }
    .title{
margin-bottom: 10px; 
font-size: 20px;   }
.description{
margin-bottom: 13px;}

}
@media (max-width:712px) {
    .Aboutcontainer{
 display: block;
}
.NewContainer {
    height: 75vh;
    }
}
@media (max-width:768px) {
    /* .Aboutcontainer{
       
} */

}


/* Rachwan */
/* Tabet */
@media (max-width: 1211px) {
    .Aboutcontainer{
        display: block;
        align-items: center;
        width: 100%;
    }
    .description{
        font-size: 18px;
    }
    .title{
        font-size: 25px;
    }
}

/*
767
768

967
968

1900
1200
*/