.summaryHolder {
  max-height: 650px;
  overflow: hidden;
  padding: 20px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05),
    -2px -2px 4px 0px rgba(0, 0, 0, 0.05);
}

.summaryRow {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  border-top: 1px solid #edeef2;
}

.summaryTitle {
  margin-bottom: 10px;
  font-weight: normal;
}

.cartItems {
  overflow-y: auto;
  max-height: 62%;
  margin: 0;
  border-top: 1px solid var(--red-color);
  border-bottom: 1px solid var(--red-color);
}

.cartCosts {
  height: 30%;
}

.cartItems::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.cartItems::-webkit-scrollbar-track {
  background: var(--second-grey-color);
}

/* Handle */
.cartItems::-webkit-scrollbar-thumb {
  background: var(--red-color);
}

/* Handle on hover */
.cartItems::-webkit-scrollbar-thumb:hover {
  background: var(--button-background-hover-color);
}

.rowD {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.rowD img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .summaryTitle {
    font-size: 20px;
  }
}
