.contactPage {
  width: 80%;
  margin: 4em auto 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5em;

}

.contactHolder {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contactForm {
  width: 47%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;

}

.contactDetails {
  width: 47%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1em;
  padding-top: 2em;
}

.contactDetails p {
  font-size: 1.2em;
  font-weight: 300;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.customButton {
  background-color: var(--red-color);
  color: var(--white-color);
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-size: 1.4em;
  outline: none;

}

.customButton:focus {
  outline: none;
}

.customButton:hover {
  background-color: var(--button-background-hover-color);
}

.mapContainer {
  height: 400px;
}

.icons {
  width: 1.4em;
  height: 1.4em;
  margin-right: 5px;

}

.contactData {
  display: flex;
  font-size: 1.1em;
  align-items: start;
}

.contactInfo h2 {
  font-weight: 500;
}

.map {
  width: 100%;
  height: 100%;
}

@media (max-width:700px) {

  .contactDetails p,
  .contactData {
    font-size: 1.1em;
    font-weight: 300;
  }

  .contactPage {
    width: 90%;
  }

  .contactDetails {
    padding-top: 0.8em;
  }

  .icons {
    width: 1.2em;
    height: 1.2em;
  }
}

@media (max-width:470px) {
  .contactDetails {
    padding-top: 0.2em;
  }

}


@media (max-width:516px) {
  .contactPage {
    margin-top: 0em;
  }

  .contactHolder {
    flex-direction: column-reverse;
    gap: 1em
  }

  .contactHolder>section {
    width: 100%;
    margin: 0 auto;
  }
}