
    .containerHero {
        margin: 0;
        position: relative;
    }

    .backgroundImage {
            /* position: absolute; */
    width: 100%;
    /* top: -370px; */
    height: 730px;
    background-image: url(/src/assets/bluecar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    object-fit: cover;
    justify-content: flex-start;
    align-items: center;
    }
    .Title{
        color: white;
        font-size: 2.5vh;
        font-weight: 500;
        letter-spacing: 3px;
    
    }

    .content {
        font-size: 2vw;
        top: 600px;
        display: flex;
        flex-direction: column;
        margin-left: 5rem;
        width: 42%;

    
    }

    .title {
        font-weight: 600;
        text-transform: uppercase;
        color: #FFFFFF;
        height: 75%;
        width: 100%;
        letter-spacing: 3px;
    }

    .spann {
        font-weight: 800px;
        text-transform: uppercase;
        color: #F3494A;
    }

    .button {
        width: fit-content;
        text-align: center;
        color: white;
        text-decoration: none;
        background-color: #F83739;
        border: 1px solid transparent;
        border-radius: 7px;
        margin-top: 2rem;
        height: 11%;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 400px;
        padding: 10px 36px;
        transition: all .4s ease;
    }
    .button:hover{
        color: #F83739 ;
        border: 1px solid #F3494A;
        background-color: transparent;

    }
@media (max-width: 720px) {
    /* .content{
        width: 100%;
    } */
    
}
@media (max-width: 1086px) {
    /* .button {
        text-align: center;
        color: white;
        text-decoration: none;
        background-color: #F83739;
        border-radius: 30px;
        margin-top: 2rem;
        height: 12%;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 500px;
        border: none;
        padding: 0.5rem;
    } */
    
}
