.NewContainer{
    height: 96vh;
    width: 100%;
    /* overflow-x: hidden; */
    position: relative;
}

.search{
    z-index: 1000;
    left: 20%;
    margin: 10px auto 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: -6rem;
}
 .about{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    
 }


/* .product{
margin-left: 200px;
} */


.newColor{
    background-color: #F5F5F5;
    padding-bottom: 20px;
}
.whatsappButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.whatsappButton svg {
    color: white !important; /* Set the color of the icon to white */
}
@media (max-width:1211px) {
    .about{
        width: 65%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
 
}
@media (max-width:930px) {
    .search{
        width: 100%;
        /* padding: 0 20px; */
    }
    /* .NewContainer {
        height: 96vh;
    } */
}

@media (max-width:768px) {
    /* .NewContainer {
            height: 98vh;
            width: 100%;
        overflow-x: hidden;
        position: relative;
    } */
    }

    @media (max-width:712px) {

        /* .NewContainer {
            height: 97vh;
        } */
        }
@media (max-width:420px) {
    /* .NewContainer {
            height: 107vh;
         
    } */
}
@media (min-width:281px) {
    /* .NewContainer {
        height: 130vh 
         
    } */
}
@media (max-width:280px) {
    /* .NewContainer {
        height: 159vh 
         
    } */
}



/* @media (min-width:931px) {
 
    .NewContainer {
        height: 104vh;
    }
} */

