.nav {
  background-color: var(--first-blue-color) !important;
}
.container{
    height: 12rem;
    padding: 1rem 0 2rem;
    background-color: var(--first-blue-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.newWrapper {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
}
.searc{
  display: flex;
  gap: 1rem;
}

.input{
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    padding-left: 20px;
    cursor: pointer;
    border: 0;
    outline: 0;
}
.searchh{
  display: flex; 
}
.h2{
    color: white;
}
.searchBtn{
  width: 50px;
  height: 45px;
  border-radius: 0 7px 7px 0;
  color: white;
  background-color: var(--button-background-color-red);
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.searchBtn:hover {
  background-color: var(--button-background-hover-color);
}
.yearInput {
border-radius: 4px 0 0 4px;
}
.btn{
    padding: 5px 15px;
    border-radius: 4px;
    color: white;
    background-color: var(--button-background-color-red);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
    margin-left: -1rem;
}
.btn:hover{
    background-color: var(--button-background-hover-color);
 
  }
  .stack{
    width: 15rem;
    color:white;
  height: 100%;
  }

.searchIcon {
  width: 20px;
}


  @media (max-width: 1024px) {
    .container {
      height: 15rem;
      padding: 1rem 0 2rem;
    }
    .newWrapper {
      flex-direction: column-reverse; 
      gap: 1.5rem;
    }
  }
  @media (max-width: 992px) {
    .input {
      width: 180px;
    }
  }
  @media (max-width: 768px) {
    .container {
      height: 26rem;
    }
    .searc {
      flex-direction: column;
      width: 100%;
    }
    .input {
      width: 100%;
    }
    .btn {
      margin-left: 0;
      padding: 10px;
    }

    .searchh {
      width: 100%;
    }
  }