/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
  /* Colors */
  --first-blue-color: #163357;
  --second-blue-color: #324BC2;
  --red-color: #C62507;
  --black-design-color: #050506;
  --first-grey-color: #8A909D;
  --second-grey-color: #D6D6D8;
  --white-design-color: #FAF9FA;
  --black-color: #000000;
  --white-color: #FFFFFF;

  /* Backgound-colors */
  --background-color-white: #ffffff;
  --background-color-blue: #163357;

  /* Buttons Background */
  --button-background-color-red: #C62507;
  --button-background-hover-color: #a5250e;

  /* Text colors */
  --text-color-black: #000000;
  --text-color-grey: #CACACA;

  /* Transitions */
  --main-transition: .3s;

  /* Padding */
  --section-padding: 100px;
}


html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

 ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}